<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fullscreen Layout with Page Transitions</title>
    <meta name="description" content="Fullscreen Layout with Page Transitions" />
    <meta name="keywords" content="fullscreen layout, boxes, responsive, page transitions, css transitions, jquery, portfolio, template" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
    <script src="/javascripts/modernizr.custom.js"></script>
</head>
<body>
<div class="container">
    <div id="bl-main" class="bl-main">
        <section id="section_video">
            <div id="video" class="bl-box">
                <h2 class="bl-icon bl-icon-about">视频</h2>
            </div>
            <div class="bl-content">
                <h2>视频</h2>
                <p>同步操作视频</p>
                <video id="myVideo" controls="controls" src="images/guide.mp4" width="100%"/>
            </div>
            <span class="bl-icon bl-icon-close"></span>
        </section>
        <section id="section_picture">
            <div id="picture" class="bl-box">
                <h2 class="bl-icon bl-icon-works">图片</h2>
            </div>
            <div class="bl-content">
                <h2>图片</h2>
                <p>同步浏览图片</p>
                <ul id="bl-work-items">
                    <li id="first" data-panel="panel-1"><a href="#"><img src="images/1.jpg" /></a></li>
                    <li id="second" data-panel="panel-2"><a href="#"><img src="images/2.jpg" /></a></li>
                    <li id="third" data-panel="panel-3"><a href="#"><img src="images/3.jpg" /></a></li>
                    <li id="forth" data-panel="panel-4"><a href="#"><img src="images/4.jpg" /></a></li>
                </ul>
            </div>
            <span class="bl-icon bl-icon-close"></span>
        </section>
        <section id="section_file">
            <div id="file" class="bl-box">
                <h2 class="bl-icon bl-icon-blog">待开发...</h2>
            </div>
            <div class="bl-content">
                <!--<h2>My Musings</h2>-->
                <!--<article>-->
                    <!--<h3>Being a Freelance Designer</h3>-->
                    <!--<p>Stumptown helvetica cardigan, odd future seitan tattooed flannel. Kale chips direct trade cray beard. 8-bit etsy butcher post-ironic blog lo-fi mcsweeney's, sustainable pickled umami flexitarian DIY ethical plaid trust fund. Wolf cred organic, terry richardson aesthetic four loko occupy vegan chillwave readymade deep... <a href="#">Read more</a></p>-->
                <!--</article>-->
                <!--<article>-->
                    <!--<h3>Working with Photoshop</h3>-->
                    <!--<p>Cosby sweater odd future gluten-free actually dreamcatcher. Fixie cray vice sriracha disrupt, lo-fi pitchfork mcsweeney's swag YOLO meh chambray etsy. Keytar sriracha fanny pack church-key hashtag vice blog. 3 wolf moon VHS helvetica, raw denim deep v shoreditch seitan twee... <a href="#">Read more</a></p>-->
                <!--</article>-->
                <!--<article>-->
                    <!--<h3>Making use of Icon Fonts</h3>-->
                    <!--<p>Locavore irony gastropub chillwave, butcher meggings flexitarian pinterest master cleanse godard. Intelligentsia pop-up neutra, williamsburg gastropub godard pinterest swag deep v umami lomo. Butcher next level 90's wolf bushwick, narwhal photo booth YOLO kale chips whatever small batch. Meh viral ethical hella cardigan portland, street art mlkshk meggings mixtape kale chips cliche messenger bag pitchfork... <a href="#">Read more</a></p>-->
                <!--</article>-->
                <!--<article>-->
                    <!--<h3>Being a Freelance Designer</h3>-->
                    <!--<p>Stumptown helvetica cardigan, odd future seitan tattooed flannel. Kale chips direct trade cray beard. 8-bit etsy butcher post-ironic blog lo-fi mcsweeney's, sustainable pickled umami flexitarian DIY ethical plaid trust fund. Wolf cred organic, terry richardson aesthetic four loko occupy vegan chillwave readymade deep... <a href="#">Read more</a></p>-->
                <!--</article>-->
                <!--<article>-->
                    <!--<h3>Working with Photoshop</h3>-->
                    <!--<p>Cosby sweater odd future gluten-free actually dreamcatcher. Fixie cray vice sriracha disrupt, lo-fi pitchfork mcsweeney's swag YOLO meh chambray etsy. Keytar sriracha fanny pack church-key hashtag vice blog. 3 wolf moon VHS helvetica, raw denim deep v shoreditch seitan twee... <a href="#">Read more</a></p>-->
                <!--</article>-->
                <!--<article>-->
                    <!--<h3>Making use of Icon Fonts</h3>-->
                    <!--<p>Locavore irony gastropub chillwave, butcher meggings flexitarian pinterest master cleanse godard. Intelligentsia pop-up neutra, williamsburg gastropub godard pinterest swag deep v umami lomo. Butcher next level 90's wolf bushwick, narwhal photo booth YOLO kale chips whatever small batch. Meh viral ethical hella cardigan portland, street art mlkshk meggings mixtape kale chips cliche messenger bag pitchfork... <a href="#">Read more</a></p>-->
                <!--</article>-->
            </div>
            <span class="bl-icon bl-icon-close"></span>
        </section>
        <section id="section_message">
            <div id="message" class="bl-box">
                <h2 class="bl-icon bl-icon-contact">文字</h2>
            </div>
            <div class="bl-content">
                <h2>同步文字</h2>
                <ol id="list" class="messages">
                </ol>
                <input id="myMessage" class="inputMessage" placeholder="Type here...">
                <button id="myButton" type="button">发送</button>
            </div>
            <span class="bl-icon bl-icon-close"></span>
        </section>
        <!-- Panel items for the works -->
        <div class="bl-panel-items" id="bl-panel-work-items">
            <div data-panel="panel-1">
                <div>
                    <img src="images/1.jpg" />
                    <h3>猫科</h3>
                    <p>以伏击的方式猎捕其他动物，大多能攀缘上树。猫的趾底有脂肪质肉垫，以免在行走时发出声响，捕猎时也不会惊跑鼠。行进时爪子处于收缩状态，防止爪被磨钝，在捕鼠和攀岩时会伸出来。</p>
                </div>
            </div>
            <div data-panel="panel-2">
                <div>
                    <img src="images/2.jpg" />
                    <h3>老鼠</h3>
                    <p>老鼠是现存最原始的哺乳动物之一，它们生命力旺盛、数量繁多并且繁殖速度极快，适应能力很强，几乎什么都吃，在什么地方都能住。老鼠会打洞、上树……</p>
                </div>
            </div>
            <div data-panel="panel-3">
                <div>
                    <img src="images/3.jpg" />
                    <h3>蚯蚓</h3>
                    <p>目前已知蚯蚓有2500多种，1837年被生物学家达尔文称之为地球上最有价值的动物。蚯蚓在中药里叫地龙（开边地龙、广地龙），《本草纲目》称之为具有通经活络、活血化瘀、预防治疗心脑血管疾病作用。蚯蚓是无脊椎动物。</p>
                </div>
            </div>
            <div data-panel="panel-4">
                <div>
                    <img src="images/4.jpg" />
                    <h3>黄牛</h3>
                    <p>黄牛被毛以黄色为最多，品种可能因此而得名、但也有红棕色和黑色等。头部略粗重，角形不一，角根圆形。体质粗壮，结构紧凑，肌肉发达，四肢强健，蹄质坚实。</p>
                </div>
            </div>
            <nav>
                <span class="bl-next-work">&gt; 下一项</span>
                <span class="bl-icon bl-icon-close"></span>
            </nav>
        </div>
    </div>
</div><!-- /container -->
<script src="/socket.io/socket.io.js"></script>
<script src="/bootstrap/js/jquery-2.1.3.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/javascripts/boxlayout.js"></script>
<script src="javascripts/main.js"></script>

<script>
    $(function() {
        Boxlayout.init();
    });
</script>
</body>
</html>
